@import 'nib'
@import '../../bower/jeet/stylus/jeet/index'
@import '../../bower/typographic/typographic/index'
@import '../../bower/rupture-by-jenius/rupture/index'

@import 'fonts'
@import 'global'
@import 'debug'

t-presets(major-sixth)
t-headers(helvetica)

#content
  margin: 0
