*, *:after, *:before
  box-sizing border-box
  position: relative

alertc = #FC6E51
textc = white

html
  #browse-happy
    display none
    padding: 20px
    background-color: alertc
    color: textc
    fixed left top
    width: 100%
    z-index: 9999
    >p
      font-size: 14px
      line-height 15px
      margin: 0
      padding: 0
  &.no-svg
  &.no-canvas
    #browse-happy
      display block
    #content
      display none
  &.svg
  &.canvas
    #content
      display block